.title{
    display: flex;
    justify-content: center;
}


.form{
    display: flex;
    justify-content: center;
}
.input{
    border-radius: 3px;
    border: #5cff1b solid 2px;

}
.buttons{
    display: flex;
    justify-content: center;
    padding: 10px;
}