.form{
    display: flex;
    justify-content: center;
}
.profile{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.avatar{
    display: flex;
    justify-content: center;
}
.disabled{
    opacity: 0.4;
}
.button{
    display: flex;
    justify-content: center;
}