.PackListContainer{
    display: flex;
    justify-content: left;
    width: 100%;
    background: linear-gradient(45deg, #cb1111b3, transparent);
    border-radius: 5px

}
.name{
    width: 250px;

}
.count{
    width: 250px;
}
.update{
    width: 250px;
}