.title {
    display: flex;
    justify-content: center;
}

.inputForm {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input {
    border-color: #5cff1b;
}

.button {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 3px;
}