.grade {
    display: flex;

    .one{
        display: flex;
        &:hover{
            display: flex;
            color: #5cff1b;

        }
          }
    .two{
        display: flex;
        &:hover{
            display: flex;
            color: #5cff1b;

        }
          }
    .three{
        display: flex;
        &:hover{
            display: flex;
            color: #5cff1b;

        }
          }
    .four{
        display: flex;
        &:hover{
            display: flex;
            color: #5cff1b;

        }
          }
    .five{
        display: flex;
        &:hover{
            display: flex;
            color: #5cff1b;

        }
          }

}
