.packList{
    display: flex;
    width: 100%;
}
.pageCount{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.pages{
    font-weight: bold;
}
.pagination{
    display: flex;
    justify-content: center;
}